services:
  db:
    image: postgres:16
    container_name: payment-db
    environment:
      POSTGRES_DB: payment_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5434:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10

  liquibase:
    image: liquibase/liquibase:4.24.0
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./db:/liquibase/changelog:ro
    command: ["liquibase", "update", "--url=jdbc:postgresql://db:5432/payment_db", "--username=postgres", "--password=postgres", "--changelog-file=/liquibase/changelog/db.changelog-master.xml"]
