<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Регистрация в магазине</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body class="bg-light">
<div class="container p-4">
    <div class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}">
        Ошибка регистрации
    </div>
    <div class="row mb-4">
        <div class="col">
            <div class="hstack gap-3">
                <h2>
                    <span class="badge text-bg-success">Регистрация</span>
                </h2>
                <a href="/items" class="btn btn-secondary ms-auto bi bi-arrow-left-square"> Каталог</a>
                <a href="/login" class="btn btn-outline-secondary bi bi-box-arrow-in-right"> Вход</a>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-body p-4">
                    <h3 class="card-title text-center mb-4">Создать аккаунт</h3>
                    <form th:action="@{/register}" method="post">
                        <input type="text" name="login" th:value="${userForm?.login}" required minlength="3"/>
                        <input type="password" name="password" required minlength="6"/>
                        <button type="submit">Зарегистрироваться</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
        integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
</body>
</html>